<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head th:replace="fragments::head(title='Customers')"></head>
<body>
	<nav th:replace='fragments::menu'></nav>
	<h1>Customers</h1>
	<img alt='ethias' th:src='@{/images/banner.jpg}' class='fullwidth'>
	<div th:each='customer:${customers}'>
		<h2 th:text='|${customer.firstName} ${customer.surname}|'></h2>
		<div
			th:text='|${customer.address.street} ${customer.address.houseNumber}|'></div>
		<div
			th:text='|${customer.address.location.postalCode} ${customer.address.location.place}|'></div>
	</div>
</body>
</html>