<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head th:replace="fragments::head(title='Customer detail')"></head>
<body>
	<nav th:replace='fragments::menu'></nav>
	<img alt='ethias' th:src='@{/images/banner.jpg}' class='fullwidth'>
	<h1>Customer detail</h1>
	<dl>
		<dt>First name</dt>
		<dd th:text='${customer.firstName}'></dd>
		<dt>Last name</dt>
		<dd th:text='${customer.surname}'></dd>
		<dt>Street + number</dt>
		<dd th:text='|${customer.address.street} ${customer.address.houseNumber}|'></dd>
		<dt>Postal code + place</dt>
		<dd th:text='|${customer.address.location.postalCode} ${customer.address.location.place}|'></dd>
		<dt>Email</dt>
		<dd th:text="${customer.email}"></dd>
	</dl>
	<h2>Customer policies</h2>
	<div>
		<table>
			<thead>
				<tr>
					<th>Policy number</th>
					<th>Type</th>
					<th>Date</th>
					<th>Premium</th>
					<th>Omnium</th>
					<th>Legal Assistance</th>
					<th>Serial number</th>
					<th>Brand</th>
					<th>Model</th>
					<th>Catalog price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="policy : ${customer.policies}">
					<td th:text='${policy.policyNumber}'></td>
					<td th:text='${policy.policyType.name}'></td>
					<td th:text='${policy.date}'></td>
					<td> 
						<span th:text="${policy.getPremium()}"></span>
					</td> 
					<td>
						<span th:text="${policy instanceof T(be.vdab.ethias.entities.CarPolicy)} and ${policy.omnium} ? 'Yes' : 'No'"></span>
					</td>
					<td>
						<span th:text="${policy instanceof T(be.vdab.ethias.entities.CarPolicy)} and ${policy.legalAssistance} ? 'Yes' : 'No'"></span>
					</td>
					<td>
						<span th:if="${policy instanceof T(be.vdab.ethias.entities.CarPolicy)}" th:text="${policy.car.serialNumber}"></span>
					</td>
					<td>
						<span th:if="${policy instanceof T(be.vdab.ethias.entities.CarPolicy)}" th:text="${policy.car.brand}"></span>
					</td>
					<td>
						<span th:if="${policy instanceof T(be.vdab.ethias.entities.CarPolicy)}" th:text="${policy.car.model}"></span>
					</td>
					<td>
						<span th:if="${policy instanceof T(be.vdab.ethias.entities.CarPolicy)}" th:text="${policy.car.catalogPrice}"></span>
					</td>
					
				</tr>
			</tbody>
		</table>
	</div>
	<form th:action='@{/customers/toevoegen}' method='post'>
		
		<input type='submit' value='Toevoegen' name='toevoegen'>
	</form>
</body>
</html>