<!doctype html>
<html lang='nl' xmlns:th='http://www.thymeleaf.org'>
<head th:replace="fragments::head(title='Customers')"></head>
<body>
	<nav th:replace='fragments::menu'></nav>
	<img alt='ethias' th:src='@{/images/banner.jpg}' class='fullwidth'>
	<h1>Customer list</h1>
	<div>
		<table>
			<thead>
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Street</th>
					<th>Housenumber</th>
					<th>Postal code</th>
					<th>Place</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each='customer:${customers}'>
					
					<td >
						<a th:href='@{/customers/{id}(id=${customer.id})}' th:text='${customer.firstName}'></a>
					</td>
					<td th:text='${customer.surname}'></td>
					<td th:text='${customer.address.street}'></td>
					<td th:text='${customer.address.houseNumber}'></td>
					<td th:text='${customer.address.location.postalCode}'></td>
					<td th:text='${customer.address.location.place}'></td>
					<td th:text='${customer.email}'></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>